* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d47006;
}

.App {
  margin: 50px;
}

.search {
  padding: 10px;
  font-size: 20px;
  border: solid 2px grey;
  border-radius: 4px;
  background-color: #304545;
  margin: 20px 500px;
  
}

.table {
  width: 50rem;
  background-color: #373937;
  display: flex;
  border: solid 2px #fff;
  border-radius: 8px;
  align-items: center;
  justify-content: space-around;
  margin: 10px 250px;
}

.table-two {
  color: #fff;
  font-size: 25px;
  background-color: #13df3c;
  
}

.tableline {

  color: #aee2e8;
  font-size: 22px;
}



